/* padding button from the bottom*/
.btn2 {
  padding-bottom: 1em;
}

/* properties of button*/
.btn {
  margin:auto;
  display:block;
  background-color: salmon;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 18px;

}

