/* aligning the rover 3D model to the center*/
.gfg {
    width:auto;
    text-align:center;
    padding:20px;
}
      iframe {
              width:100%;
              height:400px;
        }

/* Aligning authors photo to the center*/
.jfg {
      width:auto;
      text-align:center;
      padding:20px;
}
        img {
                width:100%;
                height:510px;
          }

          /* Aligning authors photo to the center*/
          .jifg {
                width:auto;
                text-align:center;
                padding:20px;
          }
                  img {
                          width:100%;
                          height:400px;
                    }

